<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Eitan Brochstein</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Eitan.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/eitan.png" alt="eitan-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a Web Designer, Game Developer, and Python Programmer. Creator of websites like shulmanrealtor.com</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code when I was 10 years old because I wanted to make my own Roblox games. Over time, I have gained a wealth of experience designing websites and new ideas.</p>

      </div>
      <div class="skill-row">
        <img class="hiking-img" src="static/images/image1.jpg" alt="hiking-img">

        <h3>My Biggest Interest</h3>
        <p>One of my best skills is hiking, I've hiked a lot of mountains around the New England area, and I'm usually ahead of my group whenever I'm going hiking.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love hiking as much as I do.</h3>
      <p class="contact-message">Love hiking as much as I do? Let's talk about how awesome it is! We can code while we hike!</p>
      <a class="btn" href="mailto:eitantravels25@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/eitan-brochstein-0a1a15270/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/eitantravels">Twitter</a>
    <a class="footer-link" href="https://www.eitanbrochstein.com/">Website</a>
    <p class="copyright">© 2023 Eitan Brochstein @ Eitan Brochstein Inc.</p>
  </div>
</body>
</html>
